@page "/cssmenu"
@using MenuTask.Components

<PageTitle>CSS Menu</PageTitle>

<h1>CSS Menu</h1>
<Menu>
    <MenuItems>
        <MenuItem Text="Item 1">
            <MenuItems>
                <MenuItem Text="Item 1.1" />
                <MenuItem Text="Item 1.2">
                    <MenuItems>
                        <MenuItem Text="Item 1.2.1" />
                        <MenuItem Text="Item 1.2.2" />
                    </MenuItems>
                </MenuItem>
            </MenuItems>
        </MenuItem>
        <MenuItem Text="Item 2">
            <MenuItems>
                <MenuItem Text="Item 2.1" />
            </MenuItems>
        </MenuItem>
        <MenuItem Text="Item 3" />
    </MenuItems>
</Menu>