@page "/"
@using MenuTask.Components.JsMenu

<PageTitle>Home</PageTitle>

<h1>JS Menu</h1>
<JsMenu>
    <JsMenuItems>
        <JsMenuItem Text="Item 1">
            <JsMenuItems>
                <JsMenuItem Text="Item 1.1" />
                <JsMenuItem Text="Item 1.2">
                    <JsMenuItems>
                        <JsMenuItem Text="Item 1.2.1">
                            <JsMenuItems>
                                <JsMenuItem Text="Item 1.2.1.1" />
                                <JsMenuItem Text="Item 1.2.1.2" />
                                <JsMenuItem Text="Item 1.2.1.3" />
                                <JsMenuItem Text="Item 1.2.1.4">
                                    <JsMenuItems>
                                        <JsMenuItem Text="Item 1.2.1.4.1" />
                                        <JsMenuItem Text="Item 1.2.1.4.2" />
                                        <JsMenuItem Text="Item 1.2.1.4.3" />
                                        <JsMenuItem Text="Item 1.2.1.4.4" />
                                    </JsMenuItems>
                                </JsMenuItem>
                            </JsMenuItems>
                        </JsMenuItem>
                        <JsMenuItem Text="Item 1.2.2" />
                    </JsMenuItems>
                </JsMenuItem>
            </JsMenuItems>
        </JsMenuItem>
        <JsMenuItem Text="Item 2">
            <JsMenuItems>
                <JsMenuItem Text="Item 2.1" />
            </JsMenuItems>
        </JsMenuItem>
        <JsMenuItem Text="Item 3" />
    </JsMenuItems>
</JsMenu>