@page "/"
@using MenuTask.Components.JsMenu

<PageTitle>Home</PageTitle>

<h1>Menu</h1>
<JsMenu>
    <JsMenuItems>
        <JsMenuItem Text="Item 1" />
        <JsMenuItem Text="Item 2" />
        <JsMenuItem Text="Item 3" />
    </JsMenuItems>
</JsMenu>