.menuItem {
    cursor: pointer;
/*        position: relative;*/
/*    border: 1px solid green;*/
    width: max-content;
}

    .menuItem:hover {
        background-color: grey;
    }

        .menuItem:hover > .menuItemChild {
            color: red;
            display: block;
        }

.rootMenuContainer {
    /*    position: relative;*/
}

.subMenuContainer {
    /*    position: relative;*/
    display: flex;
    height: auto;
    right: 0;
}

.menuItemChild {
    color: blue;
    right: 0;
    /*    position: absolute;*/
    display: none;
}
/*
.rightPositioned {
    position: absolute;
    top: 0;
}

.leftPositioned {
    position: absolute;
    left: 0;
}*/
/*
.relative {
    position: relative;
}*/
