.menuItem {
    cursor: pointer;
    width: max-content;
}

    .menuItem:hover {
        background-color: grey;
    }

        .menuItem:hover > .menuItemChild {
            color: red;
            display: block;
        }

.subMenuContainer {
    display: flex;
    height: auto;
    right: 0;
}

.menuItemChild {
    color: blue;
    right: 0;
    display: none;
}